<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3707a">  <td>20/01/10 14:38:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LE_InitiateVerify.beforeMethod()[pri:0, instance:smoke.HB43x.tests.LE_InitiateVerify@74a10858]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1758386724</td>   <td></td> </tr>
<tr bgcolor="a3707a">  <td>20/01/10 14:39:02</td>   <td>25649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LE_InitiateVerify.login()[pri:0, instance:smoke.HB43x.tests.LE_InitiateVerify@74a10858]">login</td> 
  <td>main@1758386724</td>   <td></td> </tr>
</table>
