<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e67e6a">  <td>20/03/13 18:30:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AlertsVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.AlertsVerify@545997b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="e67e6a">  <td>20/03/13 18:30:48</td>   <td>10043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertsVerify.alert()[pri:1, instance:regression.IBCG2.tests.AlertsVerify@545997b1]">alert</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>20/03/13 18:31:48</td>   <td>70204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactusVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.ContactusVerify@4cf4d528]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>20/03/13 18:31:56</td>   <td>78069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactusVerify.contactus()[pri:1, instance:regression.IBCG2.tests.ContactusVerify@4cf4d528]">contactus</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="949d71">  <td>20/03/13 18:32:20</td>   <td>102019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateMessageVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.CreateMessageVerify@77846d2c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="949d71">  <td>20/03/13 18:32:26</td>   <td>108119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateMessageVerify.createMsg()[pri:1, instance:regression.IBCG2.tests.CreateMessageVerify@77846d2c]">createMsg</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/03/13 18:33:09</td>   <td>150738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FooterLinksVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.FooterLinksVerify@548ad73b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/03/13 18:33:17</td>   <td>158674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FooterLinksVerify.footerlinks()[pri:1, instance:regression.IBCG2.tests.FooterLinksVerify@548ad73b]">footerlinks</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b59d86">  <td>20/03/13 18:33:35</td>   <td>177179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HlthWlthEduVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.HlthWlthEduVerify@4c762604]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b59d86">  <td>20/03/13 18:33:43</td>   <td>185059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HlthWlthEduVerify.hltwltver()[pri:1, instance:regression.IBCG2.tests.HlthWlthEduVerify@4c762604]">hltwltver</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>20/03/13 18:34:17</td>   <td>218939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IBCNavgPageVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.IBCNavgPageVerify@2641e737]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>20/03/13 18:34:25</td>   <td>227335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IBCNavgPageVerify.IBCtopnvg()[pri:1, instance:regression.IBCG2.tests.IBCNavgPageVerify@2641e737]">IBCtopnvg</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>20/03/13 18:35:07</td>   <td>269014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LifeChangesVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.LifeChangesVerify@727803de]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>20/03/13 18:35:18</td>   <td>279712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LifeChangesVerify.lifechanges()[pri:1, instance:regression.IBCG2.tests.LifeChangesVerify@727803de]">lifechanges</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>20/03/13 18:35:44</td>   <td>305606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRedgnVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.LoginRedgnVerify@704921a5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>20/03/13 18:35:52</td>   <td>313994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRedgnVerify.LoginPgRdsgn()[pri:1, instance:regression.IBCG2.tests.LoginRedgnVerify@704921a5]">LoginPgRdsgn</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>20/03/13 18:35:58</td>   <td>319885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiLOBFormsVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.MultiLOBFormsVerify@df27fae]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>20/03/13 18:36:06</td>   <td>327425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiLOBFormsVerify.multiforms()[pri:1, instance:regression.IBCG2.tests.MultiLOBFormsVerify@df27fae]">multiforms</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>20/03/13 18:36:38</td>   <td>359856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiLOBNewsVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.MultiLOBNewsVerify@24a35978]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>20/03/13 18:36:45</td>   <td>367337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiLOBNewsVerify.multinews()[pri:1, instance:regression.IBCG2.tests.MultiLOBNewsVerify@24a35978]">multinews</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>20/03/13 18:37:11</td>   <td>392871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiLOBVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.MultiLOBVerify@16f7c8c1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="748aa2">  <td>20/03/13 18:37:18</td>   <td>400368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiLOBVerify.mulLOB()[pri:1, instance:regression.IBCG2.tests.MultiLOBVerify@16f7c8c1]">mulLOB</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>20/03/13 18:37:43</td>   <td>424959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewsletterVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.NewsletterVerify@2f0a87b3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>20/03/13 18:37:51</td>   <td>432873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewsletterVerify.newsltr()[pri:1, instance:regression.IBCG2.tests.NewsletterVerify@2f0a87b3]">newsltr</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>20/03/13 18:38:16</td>   <td>457632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlanInfoVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.PlanInfoVerify@319b92f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>20/03/13 18:38:23</td>   <td>465142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlanInfoVerify.plan()[pri:1, instance:regression.IBCG2.tests.PlanInfoVerify@319b92f3]">plan</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>20/03/13 18:38:49</td>   <td>491031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PrintIconVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.PrintIconVerify@fcd6521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>20/03/13 18:38:57</td>   <td>498515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrintIconVerify.printIcon()[pri:1, instance:regression.IBCG2.tests.PrintIconVerify@fcd6521]">printIcon</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b0efb8">  <td>20/03/13 18:39:51</td>   <td>552812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReplyMessageVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.ReplyMessageVerify@27d415d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="b0efb8">  <td>20/03/13 18:39:59</td>   <td>561180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReplyMessageVerify.replyMsg()[pri:1, instance:regression.IBCG2.tests.ReplyMessageVerify@27d415d9]">replyMsg</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="8d779b">  <td>20/03/13 18:40:35</td>   <td>597371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SiteMapVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.SiteMapVerify@5c18298f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="8d779b">  <td>20/03/13 18:40:43</td>   <td>605400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SiteMapVerify.sitemap()[pri:1, instance:regression.IBCG2.tests.SiteMapVerify@5c18298f]">sitemap</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>20/03/13 18:41:04</td>   <td>626278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ToolsVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.ToolsVerify@31f924f5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>20/03/13 18:41:11</td>   <td>633100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolsVerify.tools()[pri:1, instance:regression.IBCG2.tests.ToolsVerify@31f924f5]">tools</td> 
  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>20/03/13 18:41:38</td>   <td>659627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TotalRewardsVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.TotalRewardsVerify@5579bb86]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1948863195</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>20/03/13 18:41:45</td>   <td>667017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TotalRewardsVerify.rewards()[pri:1, instance:regression.IBCG2.tests.TotalRewardsVerify@5579bb86]">rewards</td> 
  <td>main@1948863195</td>   <td></td> </tr>
</table>
