<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:51:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.TestForRequestAssessment()[pri:4, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">TestForRequestAssessment</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:52:53</td>   <td>66104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.TestForRequestAssessment1()[pri:9, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">TestForRequestAssessment1</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:49:37</td>   <td>-129419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.checkMyProfilePopup()[pri:2, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">checkMyProfilePopup</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:54:06</td>   <td>139741</td> <td title="&lt;&lt;TC1_LoginToCareerView.killDriver()[pri:0, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:48:28</td>   <td>-198466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.loginToCareerView()[pri:1, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">loginToCareerView</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:54:00</td>   <td>133379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.logoutfromAdminSite()[pri:13, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">logoutfromAdminSite</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:52:04</td>   <td>17604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.navigateFromHeader()[pri:6, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">navigateFromHeader</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:52:37</td>   <td>50424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.navigateToHome()[pri:8, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">navigateToHome</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:50:03</td>   <td>-103222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.updateProfileInfo()[pri:3, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">updateProfileInfo</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:52:58</td>   <td>70976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyAnalyticsTabInAdmin()[pri:10, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">verifyAnalyticsTabInAdmin</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:52:20</td>   <td>33461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyCompareFunctionality()[pri:7, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">verifyCompareFunctionality</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:51:56</td>   <td>9084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyLocateMe()[pri:5, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">verifyLocateMe</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:53:47</td>   <td>120338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyingAdminTaskTab()[pri:12, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">verifyingAdminTaskTab</td> 
  <td>main@398110318</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>19/02/07 17:53:37</td>   <td>110025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyingImportTab()[pri:11, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@1990a65e]">verifyingImportTab</td> 
  <td>main@398110318</td>   <td></td> </tr>
</table>
