<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ea699">  <td>19/06/21 18:25:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UI_Verification.beforeMethod()[pri:0, instance:regression.testcases.GMD.UI_Verification@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="6ea699">  <td>19/06/21 18:25:38</td>   <td>12763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UI_Verification.dcBanner()[pri:1, instance:regression.testcases.GMD.UI_Verification@1753acfe]">dcBanner</td> 
  <td>main@87765719</td>   <td></td> </tr>
</table>
