<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smoke.careerview.tests.TC1_LoginToCareerView</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkMyProfilePopup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCompareFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToHome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testForRequestAssessment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateProfileInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingImportTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginToCareerView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testForRequestAssessment1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAnalyticsTabInAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLocateMe</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingAdminTaskTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateFromHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutfromAdminSite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
