<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.loginToCareerView()[pri:1, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">loginToCareerView</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.checkMyProfilePopup()[pri:2, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">checkMyProfilePopup</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.updateProfileInfo()[pri:3, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">updateProfileInfo</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyLocateMe()[pri:5, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">verifyLocateMe</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.navigateFromHeader()[pri:6, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">navigateFromHeader</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyCompareFunctionality()[pri:7, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">verifyCompareFunctionality</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.navigateToHome()[pri:8, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">navigateToHome</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.testForRequestAssessment1()[pri:9, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">testForRequestAssessment1</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyAnalyticsTabInAdmin()[pri:10, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">verifyAnalyticsTabInAdmin</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.verifyingImportTab()[pri:11, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">verifyingImportTab</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:18</td>   <td>550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.logoutfromAdminSite()[pri:13, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">logoutfromAdminSite</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/02/27 12:30:19</td>   <td>1114</td> <td title="&lt;&lt;TC1_LoginToCareerView.killDriver()[pri:0, instance:smoke.careerview.tests.TC1_LoginToCareerView@7e0b0338]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2083117811</td>   <td></td> </tr>
</table>
