<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e3b3">  <td>20/03/12 15:12:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PrintIconVerify.beforeMethod()[pri:0, instance:regression.IBCG2.tests.PrintIconVerify@2a2d45ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="a6e3b3">  <td>20/03/12 15:12:19</td>   <td>4538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrintIconVerify.printIcon()[pri:1, instance:regression.IBCG2.tests.PrintIconVerify@2a2d45ba]">printIcon</td> 
  <td>main@1418621776</td>   <td></td> </tr>
</table>
